@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* ///////////////////////// First Section ///////////////////////// */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

body{
    background-color: #343434;
    /* border: white dotted; */
}

.hangman_figure{
    width: 98%;
    height: 67vh;
    border: solid white 4px;
    margin-top: 3vh;
    margin-left: 1%;
}
.figure_container{
    width: 100%;
    height: 81%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_box{
    width: 22%;
    height: 80%;
}
.row{
    height: 25%;
    width: 100%;
    display: flex;

}
.box{
    height: 100%;
    width: 25%;
    /* border: white dotted 1px; */

}
.row img{
    height: 100%;
    width: 100%;
}
.msg{
    font-size: 5rem;
    color: white;
    margin: 1rem;
}
.row1 div{
    height: 100%;
}
/* ///////////////////////////  Alphabet box  /////////////////////////// */
.alphabets_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.guess_word{
    height: 13vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 4px;
    border-bottom: none;
    padding-left: 4%;
    padding-right: 4%;
}
.alphabet_box{
    /* height: 75%; */
    /* width: 4rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 30%;
    margin: 2px;
}
.alphabet_box p{
    font-size: 2.5rem;
    color: white;
}
/* /////////////////////  Second Section  /////////////////////// */
.alphabets{
    height: 30vh;
    width: 100%;
    padding-top: 3%;
}
.alphabets_row{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.alphabets button{
    color: white;
    height: 100%;
    width: 5%;
    border: white 5px solid;
    border-radius: 10px;
    font-size: 2rem;
    background-color: transparent;
    margin: 0.3rem;
}
.alphabets button:hover{
    background-color: #4d4c4c;
}

.hover:hover{
    cursor: not-allowed;
}

.restart_btn{
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}
.restart_btn:hover{
    cursor: pointer;
    background-color: #5c5b5b;
}

.hidden{
    display: none;
}
/* ///////////////////  RESPONSIVENESS  ///////////////////// */
@media (min-width: 0px) and (max-width: 400px){
    .alphabets button{
        height: 45%;
        width: 10%;
        border: solid 2px white;
        border-radius: 8px;
        font-size: 1rem;
        margin: 0.2rem;
    }
    .alphabets_row{
        margin-top: 10%;
        flex-wrap: wrap;
        height: 45%;
    }
    .msg{
        font-size: 1rem;
    }
    .alphabet_box p{
        font-size: 1.2rem;
    }
    .hangman_figure{
        height: 55vh;
    }
    .guess_word{
        height: 10.5vh;
    }
    .main_box{
        width: 60%;
        height: 70%;
    }
}
@media (min-width: 400px) and (max-width: 550px){
    .alphabets button{
        height: 60%;
        width: 9%;
        border: white 3px solid;
        border-radius: 8px;
        font-size: 1.3rem;
        margin: 0.1rem;
    }
    .alphabets_row{
        margin-top: 3%;
        flex-wrap: wrap;
        height: 42%;
    }
    .msg{
        font-size: 2rem;
    }
    .alphabet_box p{
        font-size: 1.4rem;
    }
    .hangman_figure{
        height: 60vh;
    }
    .guess_word{
        height: 11.5vh;
    }
    .main_box{
        width: 60%;
        height: 70%;
    }
}
@media (min-width: 550px) and (max-width: 800px){
    .alphabets button{
        height: 60%;
        width: 8%;
        border: solid 4px white;
        border-radius: 8px;
        font-size: 1.3rem;
        margin: 0.3rem;
    }
    .alphabets_row{
        flex-wrap: wrap;
        height: 40%;
    }
    .msg{
        font-size: 3rem;
    }
    .alphabet_box p{
        font-size: 1.6rem;
    }
    .hangman_figure{
        height: 67vh;
    }
    .guess_word{
        height: 13vh;
    }
    .main_box{
        width: 40%;
        height: 60%;
    }
}